
.dataLogin{
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
}

.loginContainer{
  
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    padding:0px 0px 0px 0px;
    padding-top: 30px;
    margin: 0px auto 0px;
    text-align: center;
    width: 50%;
    color: white;
    background-color: rgba(3, 1, 1, 0.9);
    font-family: cursive;
    height: 300px;
    width: 500px;
  
}



.loginB{
    color: #ffffff;
    background-color: cornflowerblue;
    width: 60%;
    padding: 10px 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: cursive;
}

tr{
    text-align: left;
}

