
/*******menu*******/
.menuContext{
 overflow: auto;
 height: 70px;
 width: 100%;
}

.menu
  {
    position: relative;
    overflow: auto;
    display: flex;
    justify-content: center;
    background-color: black;
    /* position: absolute !important; */
    /* top: 0; */
    width: 100%;
    /* z-index: 999; */
    margin-top: 70px;
    margin: auto;
    height: 70px;
    border-spacing: 40px 0px;
  }

  .menu a{
  
    float: left;
    color: white;
    text-align: center;
    padding: 8px 60px;
    text-decoration: none;
    font-size: 30px;
    font-family: cursive;
    list-style: solid;
  }

  .menu a:hover
  {
    background-image: url('../images/menuBg.JPG') ;
    background-size: cover;
    font-size: 34px;
    font: outline;
    color: white;
    height: 60px;
  }

  .menu > img {
    display: block; 
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
  }
  
  .menu:hover > img {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  @media screen and (max-width: 500px) {
    .menu a {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
    }
  }

  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
	.prev, .next,.text {font-size: 11px}
}

/***********************************************/

  .main {
    display: block;
    margin-top: 100px;
    margin: 0;
    height: 250px; /* Used in this example to enable scrolling */
  }

.mainContainer{
  padding: 0px 0px 0px 0px ;
}

section{
  height: 60%;
}

h1{
    font-family: cursive;
}

/* .header {
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  margin-bottom: 10;
 
  overflow: auto;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 8;
  padding: 7px;
  z-index: 999;
} */

.page-header { 
  /* background: #000000 url(../images/logo2.JPG) 40% 100% no-repeat; */
  /* overflow:hidden;  */
  width:100%; 
  height:300px; 
  text-align:center; 
  margin:0; 
  /* position: relative; */
  /* background-position: center center;
  background-size: cover;
  background-attachment: fixed;
   */
}

.logo-crop{ 
  margin:auto 0; 
  max-width:2800px; 
  width:100%; 
  height:300px; 
  text-align:center; 
  margin:0; 
  position:relative;
}


/* .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: black;
  height: 20px;
  padding: 1rem;
  text-align: center;
} */
 

